/*
Custom Css
*/

form > div{
    margin: 20px auto;
}

.use-cover-background {
    background-size: cover;
    background-position: center;
  }
  .square {
    margin: 10px 0;
    width: 300px;
    height: 300px;
  }
  img{
    border-width: 0ch !important;
  }

.t1 {
    color: rgb(54, 187, 187);
  }
.t2{
    color: rgb(216, 37, 207);
  }
.t3 {
    color: rgb(233, 152, 1);
  }
.t4{
    color: rgb(56, 173, 101);
  }